extends layout 
block content
    head
        title p5.js example
        script(src='https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js')
        // <script src="../addons/p5.sound.js"></script>
        script(src='/javascripts/sketch.js')
        script(src='https://cdn.socket.io/socket.io-3.0.5.js')
    main
        div(id='canvas' style = 'border-style: solid;border-width: 2px;width:802px')
        br
        div(class='btn-group')
          button(type='button', class='btn btn-secondary', style = 'color:red;background-color:red; width:40px', onclick='mkColour("red")') .
          button(type='button', class='btn btn-secondary', style = 'background-color:green; width:40px', onclick='mkColour("green")') 
          button(type='button', class='btn btn-secondary', style = 'background-color:blue; width:40px', onclick='mkColour("blue")') 
          button(type='button', class='btn btn-secondary', style = 'background-color:yellow; width:40px', onclick='mkColour("yellow")') 
        div(class='slidecontainer')
          input(type='range' min='10' max='70' value='40' class='slider' oninput='mkSize(value)')